[
  {
    "mac": "AA:BB:CC:DD:EE:FF",
    "device_id": 2,
    "name": "寝室",
    "type": "co2"
  },
  {
    "mac": "de:64:44:46:32:54",
    "device_id": 4,
    "name": "屋外（防水温湿度計）",
    "type": "meter"
  }
]
